section.card {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #474dc3;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin: 1rem;
}

.card svg {
  fill: #fff;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 3px;
  height: 50px;
  width: 50px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px #000000;
  color: #ffffff;
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #474dc3;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.card__description {
  margin-top: 10px;
  font-size: 14px;
  color: #fff;
  line-height: 1.4;
}

.card:hover svg {
  scale: 0;
}
